<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-3 col-md-offset-4">
		<div class="panel panel-default">
			<div class="panel-body">
	<p>
  	<strong>Title:</strong>
  	<%= @task.title %>
	</p>

	<p>
  	<strong>Description:</strong>
  	<%= @task.description %>
	</p>
	
	<div class="text-center">
		<%= link_to 'Edit', edit_task_path(@task) %> |
		<%= link_to 'Back', tasks_path %>
	</div>
			</div>
		</div>
	</div>
</div>
